*{margin: 0; padding: 0;}
 
body{
font-family: arial, helvetica, sans-serif;
font-size: 15px;
}

.delete{
background-color:#FFF;
position:absolute;
top:25%;
left:25%;
width:50%;
height:50%;
border: 1px solid black;
}

.label{
font-size: 18px;
}

.yes, .no{
position:absolute;
top:60%;
height:10%;
}

.yes{
left:20%;
width:20%;
}

.no{
right:20%;
width:20%;
}
