*{margin: 0; padding: 0;}
 
body{
font-family: arial, helvetica, sans-serif;
font-size: 15px;
}

.filtro{
background-color:#FFF;
position:absolute;
top:25%;
left:25%;
width:50%;
height:50%;
border: 1px solid black;
}

.label{
font-size: 18px;
}

.d1_l, .modo_d_l, .d2_l{
position:absolute;
top:15%;
}

.h1_l, .modo_h_l, .h2_l{
position:absolute;
top:35%;
}

.v1_l, .modo_v_l, .v2_l{
position:absolute;
top:55%;
}

.qtd_l{
position:absolute;
top:77%;
}

.d1_l, .h1_l, .v1_l, .qtd_l{
left:5%;
}

.modo_d_l, .modo_h_l, .modo_v_l{
left:40%;
}

.d2_l, .h2_l, .v2_l{
left:75%;
}

.d1_f, .modo_d_f, .d2_f{
position:absolute;
top:25%;
}

.h1_f, .modo_h_f, .h2_f{
position:absolute;
top:45%;
}

.v1_f, .modo_v_f, .v2_f{
position:absolute;
top:65%;
}

.d1_f, .d2_f, .h1_f, .h2_f, .v1_f, .v2_f{
width:20%;
}

.modo_d_f, .modo_h_f, .modo_v_f{
width:25%;
}

.qtd_f{
position:absolute;
top:77%;
width:20%;
}

.d1_f, .h1_f, .v1_f{
left:5%;
}

.modo_d_f, .modo_h_f, .modo_v_f{
left:40%;
}

.d2_f, .h2_f, .v2_f, .qtd_f{
left:75%;
}

.eixo_l{
position:absolute;
top:87%;
left:5%;
}

.eixo_f{
position:absolute;
top:87%;
left:15%;
width:10%;
}

.agr_l{
position:absolute;
top:87%;
left:30%;
}

.agr_f{
position:absolute;
top:87%;
left:45%;
width:15%;
}

.ok{
position:absolute;
top:87%;
left:80%;
width:10%;
height:10%;
}
