*{margin: 0; padding: 0;}
 
body{
font-family: arial, helvetica, sans-serif;
font-size: 15px;
}

.filtro{
background-color:#FFF;
position:absolute;
top:25%;
left:25%;
width:50%;
height:50%;
border: 1px solid black;
}

.label{
font-size: 18px;
}

.ano_l, .mes_l, .qtd_l{
position:absolute;
left:5%;
}

.ano_l{
top:15%;
}

.mes_l{
top:35%;
}

.qtd_l{
top:55%;
}

.ano_f, .mes_f, .qtd_f{
position:absolute;
left:5%;
}

.ano_f{
top:25%;
width:20%;
}

.mes_f{
top:45%;
width:15%;
}

.qtd_f{
top:65%;
width:20%;
}

.eixo_l{
position:absolute;
top:35%;
left:75%;
}

.eixo_f{
position:absolute;
top:45%;
left:75%;
width:20%;
}

.agr_l{
position:absolute;
top:55%;
left:75%;
}

.agr_f{
position:absolute;
top:65%;
left:75%;
width:20%;
}

.ok{
position:absolute;
top:80%;
left:45%;
width:10%;
height:10%;
}
